.encabezado{
    position: relative;
    display: flex;

}

.encabezado img{
    position: absolute;
    z-index: -1;
    object-fit: cover;
    width: 100%;
}


.encabezado .title{
    text-align: center;
}

.encabezado .title h1{
    font-family: 'Southland';
    font-size: 5rem;
    padding: 0;
    color: var(--color-primary);
    margin: 0;
    
}

.encabezado .title h2{
    font-family: 'Southland';
    font-size: 5rem;
    color: var(--color-primary);
}



/*== Media Queries (dispositivos medianos) ==*/
@media screen and (max-width: 1024px) {
    .encabezado .hands{
        top: 100%;
    }
    .encabezado .vector{
        top: 380px;
    }

}


/*== Media Queries (dispositivos pequeños) ==*/
@media screen and (max-width: 600px) {


    .encabezado .title h1{
        font-size: 3.5rem;
    }
    
    .encabezado .title h2{
        display: none;
        font-size: 2.5rem;
        z-index: 2;
    }

    .encabezado img{
        top: 0;
    }

    .encabezado .hands{
        top: 43%;
    }
    .encabezado .vector{
        top: 200px;
    }

}
