.footer-img {
    width: 100%;
    position: relative;
    
}
.footer-img img{
    position: absolute;
    width: 100%;
    top: -500px;
    z-index: -1;
}

/*== Media Queries (dispositivos medianos) ==*/
@media screen and (max-width: 1024px) {




}


/*== Media Queries (dispositivos pequeños) ==*/
@media screen and (max-width: 600px) {
    .footer-img {
        position: initial;
    }
    .footer-img img{
        position: relative;
        top: 0;
    }

   
    
}
